# Git
.git
.gitignore

# GitHub
.github

# IDE
.idea
.vscode
*.swp
*.swo

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
*_test.go
**/*_test.go

# Documentation
*.md
LICENSE

# Docker
Dockerfile*
docker-compose*
.dockerignore

